.button {
  min-width: 280px;
  padding: 11px 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 36px;
  color: @content-bg-color;
  background-color: @primary-color;
  text-transform: uppercase;

  &:hover {
    background-color: @primary-color-hover;
  }

  &:active {
    background-color: @primary-color-active;
  }

  &:disabled {
    background-color: @primary-color-disabled;
  }
}
