.feedback-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.feedback-form__wrapper {
  padding: 18px 20px 20px;
  border-top: 1px solid @primary-color-disabled;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 648px;
    border: 0;
    padding: 56px 0 0;

    &--impression {
      order: -1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 480px;

    &--wide {
      width: 960px;
    }
  }
}

.feedback-form__wrapper--small {
  @media (min-width: @tablet-width) {
    width: 300px;
    padding: 34px 0 44px;

    .feedback-form__block-title {
      margin-bottom: 50px;
      text-align: left;
    }
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    padding: 0 0 44px;
  }
}

.feedback-form__wrapper--columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 23px 0;

    .feedback-form__block {
      width: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;

    .feedback-form__block {
      width: 480px;
    }

    .feedback-form__checkbox-label {
      width: 240px;
    }
  }
}

.feedback-form__block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;

  &--inline {
    margin: 21px 0 4px;
  }

  &--fields {
    display: none;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

.feedback-form__block-title {
  width: 100%;
  margin: 0;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 21px;
  }
}

.feedback-form__input {
  padding: 14px 20px 18px;
  width: 130px;
  box-sizing: border-box;
  flex-shrink: 1;
  flex-grow: 1;
  border: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: @title-color;
  background-color: @page-bg-color;

  &:hover {
    background-color: @primary-color-disabled;
  }

  &:focus {
    outline: 2px solid @primary-color-disabled;
    background-color: @content-bg-color;
  }
}

.feedback-form__textarea {
  width: 100%;
  min-height: 160px;
  box-sizing: border-box;
  padding: 15px 20px;
  border: 0;
  background-color: @page-bg-color;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  resize: vertical;

  &:hover {
    background-color: @primary-color-disabled;
  }

  &:focus {
    outline: 2px solid @primary-color-disabled;
    background-color: @content-bg-color;
  }
}

.feedback-form__checkbox-wrapper {
  @media (min-width: @tablet-width) {
    width: 35%;
    flex-grow: 1;

    &:nth-of-type(2n) {
      margin-right: auto;
    }

    &:nth-of-type(2n+1) {
      margin-left: auto;
    }
  }
}

.feedback-form__radio-label {
  position: relative;
  display: inline-block;
  margin-left: 78px;
  padding: 22px 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @title-color;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    padding: 25px 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -80px;
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: @page-bg-color;
  }
}

.feedback-form__radio:checked + .feedback-form__radio-label::before {
  content: "";
  position: absolute;
  top: 22px;
  left: -63px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: @font-color;
  z-index: 20;
}

.feedback-form__radio {
  display: none;
}

.feedback-form__label {
  flex-shrink: 0;
  margin-right: 15px;
  text-transform: uppercase;

  &--contacts {
    margin: 0;
  }
}

.feedback-form__textarea-label {
  display: block;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 11px 0 58px;
    font-size: 21px;
  }
}

.feedback-form__input-wrapper {
  width: 100%;
  display: flex;
  margin: 7px 0 -3px;

  @media (min-width: @tablet-width) {
    margin: 8px 0;
  }

  @media (min-width: @tablet-width) {
    width: auto;
    flex-grow: 1;
  }
}

.feedback-form__checkbox-label {
  position: relative;
  display: inline-block;
  margin-left: 78px;
  padding: 27px 0;
  font-size: 18px;
  line-height: 26px;
  color: @title-color;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: -80px;
    display: block;
    width: 56px;
    height: 56px;
    background-color: @page-bg-color;
    border-radius: 5px;
  }
}

.feedback-form__checkbox:checked + .feedback-form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 34px;
  left: -63px;
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  z-index: 20;
}

.feedback-form__checkbox {
  display: none;
}

.feedback-form__button {
  @media (min-width: @tablet-width) {
    min-width: 323px;
    margin: 20px 0;
  }
}

.feedback-form__hide {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
