.footer {
  padding: 20px;
  background-color: @content-bg-color;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 30px 0;
  }
}

.footer__social {
  flex-grow: 1;
  padding: 15px 20px;
  box-sizing: border-box;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: -9px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    flex-shrink: 1;
    width: 33%;
    margin: 0;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 15px 20px 23px;
  box-sizing: border-box;
  line-height: 26px;
  color: @title-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    padding-right: 44px;
    width: 33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.footer__copyright-link {
  margin-top: 2px;
}

.footer__svg {
  margin-top: 5px;
  margin-left: 12px;

  &:hover {
    fill: @primary-color;
  }

  &:active {
    fill: @link-color;
  }
}

.footer__hashtag {
  flex-grow: 1;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    width: 33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
