.reason {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.reason__item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 256px;
    padding: 60px 20px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 400px;
    padding: 45px 20px;
  }

  &--souvenirs {
    @media (min-width: @tablet-width) {
      order: 1;
    }
  }
}

.reason__item-wrapper {
  padding: 0 0 4px 8px;

  @media (min-width: @tablet-width) {
    padding: 5px 23px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 5px 38px 0;
  }
}

.reason__item-title {
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 19px;
    margin-bottom: 21px;
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;
  }
}

.reason__icon {
  @media (min-width: @tablet-width) {
    height: 75px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 87px;
  }
}

.reason__svg {
  width: 42px;
  height: 37px;
  fill: @primary-color;

  &--food {
    width: 40px;
    height: 35px;
    margin-top: 5px;
    margin-right: 2px;

    @media (min-width: @tablet-width) {
      width: 77px;
      height: 68px;
      margin-top: 3px;
    }
  }

  &--souvenirs {
    @media (min-width: @tablet-width) {
      width: 64px;
      height: 75px;
      margin: -3px 2px 0 0;
    }
  }

  &--accomodation {
    @media (min-width: @tablet-width) {
      width: 75px;
      height: 72px;
      margin-right: 1px;
    }
  }
}

.reason__nowrap-tablet {
  @media (min-width: @tablet-width) {
    .nowrap();
  }
}

.reason__nowrap-desktop {
  @media (min-width: @desktop-width) {
    .nowrap();
  }
}
