.reasons {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.reasons__item {
  padding: 25px 20px;
  box-sizing: border-box;

  &--primary {
    padding: 28px 20px 25px;
    color: @content-bg-color;
    background-color: @primary-color;
  }

  &--secondary {
    padding: 15px 32px 14px;
    background-color: @reasons-bg-color;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 256px;
    height: 256px;
    padding-top: 34px;

    &--primary {
      padding: 34px 45px 25px;
    }

    &--secondary {
      order: 2;
      padding: 34px 49px 13px;
    }

    &--last {
      order: 1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 400px;

    &--primary {
      padding: 52px 92px 25px;
    }
  }
}

.reasons__item--triangle {
  @media (min-width: @desktop-width) {
    padding: 52px 60px 25px;
  }

  @media (max-width: (@tablet-width - 1)) {
    padding-top: 46px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      border-left: 160px solid transparent;
      border-right: 160px solid transparent;
      border-top: 17px solid @content-bg-color;
    }
  }
}


.reasons__list {
  margin: 0;
  padding: 25px 20px 19px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 330px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.reasons__image {
  width: 320px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;

  &--city {
    background-color: @city-average-color;
    background-image: url("../img/main-city-mobile@1x.jpg");
  }

  &--bridge {
    background-color: @bridge-average-color;
    background-image: url("../img/main-bridge-mobile@1x.jpg");
  }

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
