.text-info {
  padding: 29px 17px;

  &--primary {
    color: @white-color;
    background-color: @primary-color;
  }

  &--secondary {
    padding: 12px 17px;
    background-color: @middle-gray-color;
  }
}

.text-info__title {
  font-size: 18px;
  line-height: 1.44;
}

.text-info__intro {
  margin: 0;

  &--primary {
    line-height: 1.86;
  }
}
