.hero {
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero__wrapper {
  padding: 52px 45px 67px;

  &--index {
    padding: 90px 20px;
  }
}
