.footer {
  background: @white-color;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
    padding: 0;
  }
}

.footer__social {
  padding: 20px 20px;
  box-sizing: border-box;
  list-style-type: none;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 23px;
  box-sizing: border-box;
  line-height: 1.86;
  color: @black-color;

  &:hover {
    color: @primary-color;
  }

  &:active {
    color: @dark-gray-color;
  }
}
