.text-info {
  padding: 29px 17px;

  &--primary {
    color: #ffffff;
    background: @primary-color;
  }

  &--secondary {
    padding: 12px 17px;
    background: #eeeeee;
  }
}

.text-info__title {
  font-size: 18px;
  line-height: 26px;
}

.text-info__intro {
  margin: 0;

  &--primary {
    line-height: 26px;
  }
}


