@primary-color: #81b3d2;
@primary-color-hover: #669ec0;
@primary-color-active: #5496bd;
@primary-color-disabled: #e5e5e5;
@content-bg-color: #ffffff;
@page-bg-color: #f2f2f2;
@input-color: @page-bg-color;
@input-color-hover: @primary-color-disabled;
@radio-color-active: #d5d5d5;
@reasons-bg-color: #eeeeee;
@title-color: #000000;
@title-active-color: #b2b2b2;
@link-color: rgba(0, 0, 0, 30%);
@font-color: #333333;

@tablet-width: 768px;
@desktop-width: 1200px;
