.video__text-info {
  padding: 19px 20px 37px;
  box-sizing: border-box;
}

.video__player {
  box-sizing: border-box;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding: 0;
  }
}

.video__frame {
  width: 320px;
  height: 200px;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
  }
}

.video__control-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: -45px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 93px;
    padding: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.video__control {
  flex-grow: 1;
  height: 65px;
  background-color: @page-bg-color;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.video__control--reload {
  flex-grow: 3;

  @media (min-width: @tablet-width) {
    order: -1;
    flex-grow: 1;
  }
}

.video__range-block {
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.5);

  @media (min-width: @tablet-width) {
    width: 400px;
    background: transparent;
  }
}

.video__src {
  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 500px;
  }
}
