.video__player {
  padding-bottom: 60px;
}

.video__frame {
  width: 320px;
  height: 200px;
}

.video__control-wrapper {
  padding: 0 20px;
}

.video__range-block {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.5);
}

.video__controls {
  width: 280px;
  height: 65px;
  background-color: @gray-color;
}
