.feedback-form__wrapper {
  padding: 12px 20px 26px;
  border-top: 1px solid @primary-color-disabled;
  box-sizing: border-box;
}

.feedback-form__block-title {
  font-size: 18px;
  line-height: 1.44;
}

.feedback-form__input {
  border: 0;
  background-color: @gray-color;

  &:hover {
    background-color: @primary-color-disabled;
  }

  &:active {
    border: 2px solid @primary-color-disabled;
    background-color: @white-color;
  }
}

.feedback-form__textarea {
  border: 0;
  background-color: @gray-color;

  &:hover {
    background-color: @primary-color-disabled;
  }

  &:active {
    border: 2px solid @primary-color-disabled;
    background-color: @white-color;
  }
}
