.hero {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.hero__wrapper {
  padding: 52px 45px 67px;
  box-sizing: border-box;
  text-align: center;

  &--index {
    padding: 90px 20px;
  }
}

@media (min-width: @tablet-width) {
  .hero__wrapper--index {
    height: 518px;
  }
}
